html{
  font-size: 16px;
}
.mainnav{
 padding: 1rem 4rem;
}
.loginbtn{
  margin-right: 1rem;
}
.navbrand{
  color: #000000;
  font-weight: bold;
  font-size: 2em;
  font-family: Tahoma, Geneva, sans-serif;
}
.icon{
  margin-right: 0.4em;
}
#home{
  margin-left: 2.5rem;
}
#about,#explore{
  margin-left: 2rem;
}
@media (max-width: 992px){
  #home,#about,#explore,.loginbtn{
    margin-left: 2.5rem;
  }
}
