<%- include ("./partials/header") %>

<div class = "aboutpage">
  <div class="carousel slide" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class = "carouselimage1">
        </div>
      </div>
      <div class="carousel-item">
        <div class = "carouselimage2">
        </div>
      </div>
      <div class="carousel-item">
        <div class = "carouselimage3">
        </div>
      </div>
      <div class="carousel-item">
        <div class = "carouselimage4">
        </div>
    </div>
  </div>
</div>
  <div class = "aboutpagecontent">
    <div class = "aboutpageoverlap">
    <div class = "aboutpurpose">
    <h1>About Us</h1><br />
    </div>
    <div class = "description">
    <h2><span class="fas fa-crop"></span></h2>
    <em>
    <p>
    At pixel, we believe that every picture tells a story.
    </p>
    <p>
    Pixel provides the user with an immense amount of free
    </p>
    <p>
    high definition pictures brought to you by professionals.
    </p>
    It is a place to where you fall in love with what you see.
    </em> <!-- rewrite -->
    </div>
    <hr class = "horizontal">
    <div class = "teamtitle">
    <h2>Meet the team</h2>
    </div>
    <div class = "aboutteam">
    </div>
    <div class = "teammember">
      <h4>Aditya Raina</h4>
      <p>
      <em>Full-Stack Web Developer</em>
      </p>
      <span class ="fab fa-2x fa-linkedin lprofile"></span>
      <span class ="fab fa-2x fa-github gprofile"></span>
    </div>
    </div>
  </div>
</div>

<%- include ("./partials/footer") %>
