<%- include ("./partials/header") %>

<div class = "contactuspage">
<div class = "contactus">
<div class = "contactusbody">
<h3>Write to us!</h3>
<form>
<div class = "contents">
<div class = "name">
<label><span class="fas fa-user"></span></label>
<input type = "text" placeholder = "Enter your name"/>
</div>
<div class = "space">
</div>
<div class = "emailid">
<label><span class="fas fa-envelope"></span></label>
<input type = "email" placeholder = "Enter your email address" />
</div>
</div>
<div class = "message">
<label><span class="fas fa-comments"></span></label>
<textarea placeholder = "Type your message" rows = "1"></textarea><br />
</div>
<div class = "contactbutton">
<button type = "submit" class = "btn btn-primary sendmessage">Send</button>
</div>
</form>
<div class = "contactsocial">
<h4>
Or connect with us on...
</h4>
</div>
<div class = "socialmedia">
<a href="#">
<div class = "fl">
<span class="fab fa-2x fa-linkedin"></span>
</div>
</a>
<a href="#">
<div class = "fb">
<span class="fab fa-2x fa-facebook" ></span>
</div>
</a>
<a href="#">
<div class = "fi">
<span class="fab fa-2x fa-instagram"></span>
</div>
</a>
</div>
</div>
</div>
</div>

<%- include ("./partials/footer") %>
