<%- include ("./partials/header.ejs") %>
<div class="jumbotron jumbotron-fluid">
<div class="container jumbotroncontainer">
  <h1 class="display-4 jumbotrontitle">Pixel</h1>
  <p class="lead jumbotronparagraph">Because every picture tells a story</p>
  <div class = "searchbox">
  <input class = "searchbar" type = "search" placeholder = "Search here">
  <button type = "submit" class = "btn btn-lg btn-dark searchbtn"><span class="fa fa-search searchicon"></span></button>
</div>
</div>
</div>
<div class = "container-fluid">
<div class = "row imagerow">
  <div class = "col-12 col-sm-6 col-md-4 col-lg-3">
    <img src = "/images/galaxy.jpg" alt = "image1" class = "image">
  </div>
  <div class = "col-12 col-sm-6 col-md-4 col-lg-3">
    <img src = "/images/mountain.jpg" alt = "image2" class = "image">
  </div>
  <div class = "col-12 col-sm-6 col-md-4 col-lg-3">
    <img src = "/images/walk.jpg" alt = "image3" class = "image">
  </div>
  <div class = "col-12 col-sm-6 col-md-4 col-lg-3">
    <img src = "/images/food.jpg" alt = "image4" class = "image">
  </div>
  <div class = "col-12 col-sm-6 col-md-4 col-lg-3">
    <img src = "/images/imagefun.jpg" alt = "image5" class = "image">
  </div>
  <div class = "col-12 col-sm-6 col-md-4 col-lg-3">
    <img src = "/images/normalimage.jpg" alt = "image6" class = "image">
  </div>
  <div class = "col-12 col-sm-6 col-md-4 col-lg-3">
    <img src = "/images/pageimage.jpg" alt = "image7" class = "image">
  </div>
  <div class = "col-12 col-sm-6 col-md-4 col-lg-3">
    <img src = "/images/trekimage.jpg" alt = "image8" class = "image">
  </div>
  <div class = "col-12 col-sm-6 col-md-4 col-lg-3">
    <img src = "/images/signup.jpg" alt = "image9" class = "image">
  </div>
  <div class = "col-12 col-sm-6 col-md-4 col-lg-3">
    <img src = "/images/signupbackground.jpg" alt = "image10" class = "image">
  </div>
  <div class = "col-12 col-sm-6 col-md-4 col-lg-3">
    <img src = "/images/signupbackground1.jpg" alt = "image11" class = "image">
  </div>
  <div class = "col-12 col-sm-6 col-md-4 col-lg-3">
    <img src = "/images/frontsection.jpg" alt = "image12" class = "image">
  </div>
</div>
</div>
<%- include ("./partials/footer.ejs") %>
